/*
##########################
######### Global #########
##########################
*/

body{
  background: linear-gradient(135deg, #164C88, #444);
  font-family:"Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
  line-height:20px;
}

.boxScrollUp {
  text-align: center;
  background:#fbc510;
  padding: 15px 0 15px 0;
}

.boxScrollUp a{color: yellow;}
.boxScrollUp a:hover{color: white;}
.blankLink {display: block;}


ul{list-style-type: none;}
/*
#####################################
######### Typography + Link #########
#####################################
*/
p {
  color: #FFFFFF;
  font-size: 14px;
  letter-spacing: 1px;
  line-height: 22px;
}

#project.project-btn a {
    background: #ffcf01 none repeat scroll 0 0;
    color: #555;
    display: block;
    font-size: 14px;
    font-weight: 400;
    letter-spacing: 1.5px;
    padding: 10px 0;
    text-decoration: none;
}
#project.project-btn a:hover {
    border: none;
    color: yellow;
}

#project h2 {
    color: #333;
    font-weight: 300;
    letter-spacing: 3px;
}

#project h3 {
    color: #333;
    font-size: 1em;
    font-weight: 400;
    line-height: 28px;
    margin: 0 auto;
    width: 70%;
}


/* Below this text all the css needs to get CLEAN
================================================== */

.yellow{color: #ffcf01;}

/* #Project Description
================================================== */

#description {
   padding: 95px 0 28px;
}

.titlePG{
  color:#ffcf01;
  font-weight:600;
  font-size:30px;}

.titleSub{
  font-size:18px;
  letter-spacing: 1.5px;}

#description p {
  margin:0 auto;
  text-align: center;
  width:800px;
  font-weight:lighter;
  color:#ffffff;}

#description p:nth-child(1) {
  font-size:18px;
  line-height: 32px;}

#description p:nth-child(2) {
  margin-bottom: 3%;
    margin-top: 20px;
}



/* #Project Images
================================================== */

#project {
  text-align: center;
}
.work01,
.work02,
.work03,
.work04{
  padding: 70px 0;
}

.work01 {background-color: #f6f6f6;}
.work02 {background-color: #EEF1F2;}
.work03 {background-color: #f6f6f6;}
.work04 {background-color: #EEF1F2;}

#project img{
  width:1024px;
  border: 1px solid #ccc;
}

#project p {
  color: #666;
  font-size: 12px;
  font-weight: 500;
  margin-bottom: -29px;
}

.projectTab{
  margin-bottom: -5px;
  position: relative;
}

#project.languageDetails ul{
    display: flex;
    flex-direction: row;
    justify-content: center;
}
#project.languageDetails ul li {
    color: #999;
    font-size: 14px;
    letter-spacing: 1px;
    margin-right: 15px;
}
#project.languageDetails ul li b {
    font-weight: 600;
    margin-right: 4px;
    font-size: 16px;
    color: #333;
}
#project.languageDetails a {
    background: #fbc510 none repeat scroll 0 0;
    color: #333;
    display: inline-block;
    margin-top: 38px;
    padding: 15px 0;
    width: 230px;
    font-size: 12px;
    text-transform: uppercase;
    letter-spacing: 1px;
    text-decoration: none;
}
#project.languageDetails a:hover {
    border: medium none;
    color: yellow;
}

#project.iphoneIMG img{
  width: 50%;
}

#project.iphoneIMG p {
  margin-bottom: -24px;
}

/* #More Project Thumbnails
================================================== */

#more_project {
  padding:0px 0;
  background: linear-gradient(135deg, #164C88, #444);
}

footer {
  background: linear-gradient(135deg, #164C88, #444);
  color:#FFF;
  margin: 0 auto;
  text-align: center;
  padding: 40px 0;
}

footer ul li { display: inline; }
footer ul li a{
  margin: 0 0.8em;
  color: #ffcf01;
  text-transform:uppercase;
  font-size: 14px;
  text-decoration: none;
  -webkit-transition: background 1s ;
  -moz-transition: background 1s ;
  -o-transition: background 1s ;
  -ms-transition: background 1s ;
  transition: background 1s;
}
footer ul li a:hover{
  display:inline;
  color: #fff;
}
footer h2{
  font-size: 25px;
  font-weight: bold;
  margin-bottom: 25px;
  color: #FFFFFF;
}

footer p:nth-child(2) {margin-bottom: 5px;}
footer p:nth-child(4) {
  color:#999;
  font-size:12px;
  margin-top: 15px;
}

.thumbnail-overlay {
  background: #ffcf01;
  display: none;
  height: 100%;
  left: 0px;
  margin: 0 auto;
  overflow: hidden;
  position: absolute;
  text-align: center;
  top: 0;
  width: 100%;
  pointer-events: none;
  filter:alpha(opacity=50);
  -webkit-transition: background 4s ;
  -moz-transition: background 4s ;
  -o-transition: background 4s ;
  -ms-transition: background 4s ;
  transition: background 4s;
}
.thumbnail-overlay h2 {
  color: #212121;
  font-size: 14px;
  margin: 88px 0 -2px;
}
.thumbnail-overlay p {
  color: #212121;
  font-size: 14px;
}

figure {
  float: right;
  width: 232px;
  margin: 10px 50px;
}

#panel-2:hover .thumbnail-overlay,
#panel-4:hover .thumbnail-overlay,
#panel-8:hover .thumbnail-overlay,
#panel-5:hover .thumbnail-overlay,
#panel-6:hover .thumbnail-overlay,
#panel-7:hover .thumbnail-overlay,
#panel-3:hover .thumbnail-overlay,
#panel-9:hover .thumbnail-overlay,
#panel-10:hover .thumbnail-overlay,
#panel-11:hover .thumbnail-overlay,
#panel-12:hover .thumbnail-overlay,
#panel-13:hover .thumbnail-overlay,
#panel-14:hover .thumbnail-overlay,
#panel-15:hover .thumbnail-overlay,
#panel-16:hover .thumbnail-overlay,
#panel-17:hover .thumbnail-overlay,
#panel-18:hover .thumbnail-overlay,
#panel-19:hover .thumbnail-overlay,
#panel-20:hover .thumbnail-overlay,
#panel-21:hover .thumbnail-overlay,
#panel-22:hover .thumbnail-overlay,
#panel-23:hover .thumbnail-overlay,
#panel-24:hover .thumbnail-overlay{
  display: block;
  opacity: 0.9;
}

/*!
*  Kwicks: Sexy Sliding Panels for jQuery - v2.2.1
*  http://devsmash.com/projects/kwicks
*
*  Copyright 2013 Jeremy Martin (jmar777)
*  Contributors: Duke Speer (Duke3D), Guillermo Guerrero (gguerrero)
*  Released under the MIT license
*  http://www.opensource.org/licenses/mit-license.php
*/
/*
*  This file contains styles that are common to all kwicks instances.  Note that each kwicks instance requires
*  additional styling - please see the examples for more info.
*/

.kwicks {
  display: block;
  list-style-type: none;
  list-style: none;
  position: relative;
  margin: 0;
  padding: 0;
}
.kwicks > * {
  display: block;
  overflow: hidden;
  padding: 0;
  margin: 0;
}
.kwicks.kwicks-processed > * {margin: 0;position: absolute;}
.kwicks-horizontal > * {float: left;}
.kwicks-horizontal > :first-child {margin-left: 0;}
.kwicks-vertical > :first-child {margin-top: 0;}
.kwicks {height: 199px;}

.kwicks > li {
  height: 198px;
  opacity:0.80;
  filter:alpha(opacity=15); /* For IE8 and earlier */
}
.kwicks > li:hover {
  opacity:0.8;
  filter:alpha(opacity=100); /* For IE8 and earlier */
  -moz-transition: opacity 0.8s ease-in;
  -webkit-transition: opacity 0.8s ease-in;
  -o-transition: opacity 0.8s ease-in;
  transition: opacity 0.8s ease-in;
}


/* Landscape mobile & down */
@media (max-width: 30em) {

/*Project Page */
#description p,
#project img,
#project.iphoneIMG img,
#project p,
#panel-2 {
  width: 95%;
}

#project p{
  margin: 0 auto;
}

#description {
  padding: 20% 0 0;
}
#description p:nth-child(1) {
  font-size: 16px;
  line-height: 25px;
}

#description p:nth-child(2) {
  font-size: 14px;
  margin-bottom: 15%;
  margin-top: 40px;
}

.typeform-share.button {
  width: 50%;
}


ul {
  margin-bottom: 25px;
}


#project a,
#description p,
footer h2 {
  position: relative;
  z-index: 0;
}

#project p,
#project.iphoneIMG p {
  margin-bottom: 0px;
}



.work01,
.work02,
.work03,
.work04 {
  padding: 30px 0 40px;
}

#project.languageDetails a {
  margin-top: -10px;
}
#project.languageDetails ul {
  flex-direction: column;
}
#project.languageDetails ul li {
  margin-bottom: 10px;
}



}

/* Portrait tablet to landscape */
@media (min-width: 30em) and (max-width: 50em) {



#description p,
#project img,
#project.iphoneIMG img,
#panel-2{
  width: 90%;
}

#project.iphoneIMG p {
  margin-bottom: 15px;
}

#project p {
  width: 95%;
  font-size: 1em;
  margin: 0 auto;
  margin-bottom: 10px;
}

#description {
  padding: 10% 0 5%;
}

.typeform-share.button {
  width: 60%;
}


div.frame:nth-child(4) > div:nth-child(1) > div:nth-child(1),
div.frame:nth-child(7) > div:nth-child(6) > div:nth-child(1){
  height: 290px;
}



}

/* Landscape to small desktop */
@media (min-width: 50em) and (max-width: 68.750em) {
#description p {width: 70%;}
#project p {width: 95%;}

#project img,
#panel-2 {
  width: 90%;
}


.boxScrollUp {padding: 1px 0;}
/* Index Boxes */

}
